:root {
  --animation-duration: 3.75s;
  --animation-timing-function: cubic-bezier(0.8, 0, 0, 1);
  --animation-iteration-count: infinite;

  /* Wand positions */
  --wand-pos-start-top: 70%;
  --wand-pos-start-left: -10%;
  --wand-pos-start-scale: 0;
  --wand-pos-mid-top: 33%;
  --wand-pos-mid-left: 27%;
  --wand-pos-mid-scale: 1;
  --wand-pos-end-top: 10%;
  --wand-pos-end-left: 51%;
  --wand-pos-end-scale: 0.8;
}

.airo-loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sparkles {
  position: relative;
  /* background-image: url('./assets/ref-sparkles.svg'); */
  /* background-image: url('./assets/ref-wand.svg'); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
}

.sparkle1 {
  animation: sparkle1 var(--animation-duration) var(--animation-timing-function) var(--animation-iteration-count);
}

.sparkle2 {
  animation: sparkle2 var(--animation-duration) var(--animation-timing-function) var(--animation-iteration-count);
}

.sparkle3 {
  animation: sparkle3 var(--animation-duration) var(--animation-timing-function) var(--animation-iteration-count);
}

.wand {
  animation: wand var(--animation-duration) var(--animation-timing-function) var(--animation-iteration-count);
}

.sparkle,
.wand {
  position: absolute;
}

@keyframes sparkle1 {
  0% {
    top: -10%;
    left: 52%;
    transform: scale(0.6);
  }
  2.6% {
    top: -10%;
    left: 52%;
    transform: scale(0.6);
  }
  29.3% {
    top: 15%;
    left: 10%;
    transform: scale(1.38);
  }
  50.6% {
    top: 41%;
    left: 60.5%;
    transform: scale(0.38);
  }
  64% {
    top: 41%;
    left: 60.5%;
    transform: scale(0.38);
  }
  85.3% {
    top: -10%;
    left: 52%;
    transform: scale(0.6);
  }
  100% {
    top: -10%;
    left: 52%;
    transform: scale(0.6);
  }
}

@keyframes sparkle2 {
  0% {
    top: 47%;
    left: 52.5%;
    transform: scale(0.9);
  }
  2.6% {
    top: 47%;
    left: 52.5%;
    transform: scale(0.9);
  }
  24% {
    top: -10%;
    left: 52%;
    transform: scale(0.6);
  }
  29.3% {
    top: -10%;
    left: 52%;
    transform: scale(0.6);
  }
  50.6% {
    top: 3%;
    left: -5%;
    transform: scale(0.56);
  }
  58.6% {
    top: 3%;
    left: -5%;
    transform: scale(0.56);
  }
  82.6% {
    top: 47%;
    left: 52.5%;
    transform: scale(0.9);
  }
  100% {
    top: 47%;
    left: 52.5%;
    transform: scale(0.9);
  }
}

@keyframes sparkle3 {
  0% {
    top: 15%;
    left: 10%;
    transform: scale(1.38);
  }
  2.6% {
    top: 15%;
    left: 10%;
    transform: scale(1.38);
  }
  24% {
    top: 47%;
    left: 52.5%;
    transform: scale(0.9);
  }
  34.6% {
    top: 47%;
    left: 52.5%;
    transform: scale(0.9);
  }
  48% {
    top: -15%;
    left: 13.5%;
    transform: scale(0.38);
  }
  61.3% {
    top: -15%;
    left: 13.5%;
    transform: scale(0.38);
  }
  84% {
    top: 15%;
    left: 10%;
    transform: scale(1.38);
  }
  100% {
    top: 15%;
    left: 10%;
    transform: scale(1.38);
  }
}

@keyframes wand {
  0% {
    top: var(--wand-pos-start-top);
    left: var(--wand-pos-start-left);
    transform: scale(var(--wand-pos-start-scale));
  }
  29.3% {
    top: var(--wand-pos-mid-top);
    left: var(--wand-pos-mid-left);
    transform: scale(var(--wand-pos-mid-scale));
  }
  52% {
    top: var(--wand-pos-mid-top);
    left: var(--wand-pos-mid-left);
    transform: scale(var(--wand-pos-mid-scale));
  }
  55.5% {
    top: var(--wand-pos-mid-top);
    left: var(--wand-pos-mid-left);
    transform: scale(var(--wand-pos-mid-scale));
    opacity: 1;
  }
  62.9% {
    top: var(--wand-pos-end-top);
    left: var(--wand-pos-end-left);
    transform: scale(var(--wand-pos-end-scale));
  }
  66.6% {
    top: var(--wand-pos-end-top);
    left: var(--wand-pos-end-left);
    transform: scale(var(--wand-pos-end-scale));
    opacity: 0;
  }
  100% {
    top: var(--wand-pos-end-top);
    left: var(--wand-pos-end-left);
    opacity: 0;
  }
}
