.airo-loading-animation {
  background: whitesmoke;
}

.content {
  --content-size: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--content-size);
  width: var(--content-size);
}

.sparkles {
  --sparkles-size: 200px;
  position: relative;
  /* border: 1px lightslategray solid; */
  height: var(--sparkles-size);
  width: var(--sparkles-size);
  /* background: url('./assets/ref-wand.svg') no-repeat center center; */
  /* background: url('./assets/ref-sparkles.svg') no-repeat center center; */
}

.airo-loading-animation--playing {
  .sparkle,
  .wand {
    animation-play-state: running;
  }
}

.sparkle1 {
  animation: sparkle1 4.41s infinite;
  fill: lightblue;
}

.sparkle2 {
  animation: sparkle2 4.41s infinite;
  fill: tomato;
}

.sparkle3 {
  animation: sparkle3 4.41s infinite;
  fill: lightgreen;
}

.sparkle {
  --size: 100px;
  height: var(--size);
  width: var(--size);
}

.wand {
  animation: 4.41s wand infinite;
  fill: palegoldenrod !important;
}

.sparkle,
.wand {
  position: absolute;
  animation-play-state: paused;
}

@keyframes sparkle1 {
  0% {
    top: 54%;
    left: 1%;
    transform: scale(0.55);
  }
  21.5% {
    top: 31%;
    left: 39%;
    transform: scale(1.25);
  }
  24.9% {
    top: 31%;
    left: 39%;
    transform: scale(1.25);
  }
  44.2% {
    top: -13%;;
    left: 17%;
    transform: scale(0.35);
  }
  54.4% {
    top: -13%;;
    left: 17%;
    transform: scale(0.35);
  }
  74.8% {
    top: 54%;
    left: 1%;
    transform: scale(0.55);
  }
  100% {
    top: 54%;
    left: 1%;
    transform: scale(0.55);
  }
}

@keyframes sparkle2 {
  0% {
    top: 2%;
    left: 0;
    transform: scale(0.82)
  }
  20.4% {
    top: 54%;
    left: 1%;
    transform: scale(0.55);
  }
  24.9% {
    top: 54%;
    left: 1%;
    transform: scale(0.55);
  }
  43% {
    top: 40%;
    left: 61%;
    transform: scale(0.36);
  }
  49.8% {
    top: 40%;
    left: 61%;
    transform: scale(0.36);
  }
  62.3% {
    top: 2%;
    left: 61%;
    transform: scale(0.82)
  }
  70.3% {
    top: 2%;
    left: 0;
    transform: scale(0.82)
  }
  100% {
    top: 2%;
    left: 0;
    transform: scale(0.82)
  }
}

@keyframes sparkle3 {
  0% {
    top: 31%;
    left: 39%;
    transform: scale(1.25);
  }
  20.4% {
    top: 3%;
    left: 1%;
    transform: scale(0.82)
  }
  27.2% {
    top: 3%;
    left: 1%;
    transform: scale(0.82)
  }
  40.8% {
    top: 5%;
    left: -1%;
    transform: scale(0.51);
  }
  52.1% {
    top: 5%;
    left: -1%;
    transform: scale(0.51);
  }
  65.7% {
    top: 31%;
    left: 39%;
    transform: scale(0.51)
  }
  100% {
    top: 31%;
    left: 39%;
    transform: scale(1.25);
  }
}

@keyframes wand {
  0% {
    top: 70%;
    left: -10%;
    transform: scale(0);
  }
  24.9% {
    top: 70%;
    left: -10%;
    transform: scale(0);
  }
  44.2% {
    top: 33.5%;
    left: 27.5%;
    transform: scale(1);
  }
  47.6% {
    top: 33.5%;
    left: 27.5%;
    transform: scale(1);
    opacity: 1;
  }
  55.5% {
    top: 10%;
    left: 51%;
    transform: scale(0.1);
    opacity: 1;
  }
  55.6% {
    opacity: 0;
  }
  100% {
    top: 10%;
    left: 51%;
    opacity: 0;
  }
}
